.date_picker {
	border: none;
	outline: none;
}
/* 
input[type='date']::before {
  content: attr(data-placeholder);
  width: 100%;
} */

input[type=date]::-webkit-datetime-edit-text { 
  -webkit-appearance: none; 
  display: none; 
} 

input[type=date]::-webkit-datetime-edit-month-field{ 
  -webkit-appearance: none; 
  display: none; 
} 

input[type=date]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none; 
  display: none; 
} 

input[type=date]::-webkit-datetime-edit-year-field { 
  -webkit-appearance: none; 
  display: none; 
}

input[type="date"]::-webkit-calendar-picker-indicator {
	color: rgba(0, 0, 0, 0);
	opacity: 1;
	display: block;
	background: url('src/assets/svg/calendar-modal.svg') no-repeat 98% 50%; 
	width: 30px;
	height: 25px;
	border-width: thin;
}